.bg-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.object-wrap__body.object-wrap__body-md-right {
    right: 0;
}
.object-wrap__body {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50vw;
    min-width: 1px;
    max-width: none;
    height: 350px;
    min-height: 350px;
    max-height: none;
    margin: 0;
    z-index: 0;
}
.bg-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}