.SMlist{
	list-style: none;
	filter: opacity(0%);
	overflow: hidden;
	width: 100%;
	position: relative;
	left: 100px;
	top: -142px;
}
.SMlist li{
	float: left;
	margin: 2%;
}
.SMlist li:hover{
	color: #2ed3ae;
	filter: opacity(70%);
	transition: 0.5s;
}
.SMlist-facebook {
	background: url(../images/facebook.png);
	background-size: cover;
	width: 30px;
	height: 30px;
	float: left;
}
.SMlist-youtube {
	background: url(../images/youtube.png);
	background-size: cover;
	width: 30px;
	height: 30px;
	float: left;
}
.SMlist-twitter {
	background: url(../images/twitter.png);
	background-size: cover;
	width: 30px;
	height: 30px;
	float: left;
}