* {
    padding: 0;
    margin: 0;
    font-family: MyWebFont;
}
body {
    width: 100%;
    height: 100%;
    background: #f7f7f7;
    line-height: 135%;
}
a {
    color: black;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
header{
    background-color: #fff;
    position: fixed;
    width: 100%;
    min-height: 80px;
    z-index: 1;
}
.menu {
    float: left;
    width: 60%;
    font-size: 1.0em;
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    padding-left: 7%;
    padding-top: 2%;

}
.menu ul {
    float: left;
    width: 10%;
    margin-right: 1%;
    cursor: pointer;
}
.menu a:hover { 
    color: #2ed3ae;
    transition: 0.3s;
}
.site-logo {
    float: left;
    width: 15%;
    height: 40px;
    background: url(../images/logo-174x32.png) no-repeat;;
    background-size: contain;
    margin-top: 1.5%;
    margin-left: 1%;
}
.byu-a-template{
    float: right;
    padding: 15px 30px;
    display: block;
 	color: black;
 	text-decoration: none;
 	user-select: none;
 	outline: none;
 	border: 1px solid grey;
	border-radius: 3px;
	transition: 0.3s;
	text-align: center;
	font-size: 1.0em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 1%;
    margin-right: 1%;
}
a.byu-a-template:hover { 
    background: #2ed3ae; 
    color: white;
    border: 1px solid #2ed3ae;
    border-radius: 3px;
}
.body-topic{
	padding-top: 100px;
	text-align: center;
	height: 450px;
	background: url(https://www.rabota.kharkov.ua/images/db/rab.stol.jpg);
	background-size: 100%;
}
.body-topic h1{
	font-size: 5em;
    margin-top: 3%;
}
.body-topic h2{
	font-size: 3em;
    margin-top: 5%;
}
.body-topic-buttons{
	align-items: center;
	font-size: 1.3em;
	vertical-align: middle;
    margin-top: 6%;
}
.see-features-button{
	padding: 20px 35px;
    display: inline-block;
 	color: white;
 	background-color: #2ed3ae;
 	text-decoration: none;
 	user-select: none;
 	outline: none;
	border-radius: 5px;
	transition: 0.2s;
	text-align: center;
}
a.see-features-button:hover { background: black;}
.buy-template-button{
	padding: 20px 35px;
	max-width: 15%;
    display: inline-block;
 	color: white;
 	background-color: black;
 	text-decoration: none;
 	user-select: none;
 	outline: none;
	border-radius: 5px;
	transition: 0.2s;
	text-align: center;
	margin-left: 2%;
}
.sup-color{
	color: #2ed3ae;
}
a.buy-template-button:hover { background: #2ed3ae;}

.Bootstrap-info{
    height: 450px;
    width: 50%;
    float: left;
    background-color: #ececeeee;
}
.Bootstrap-info-text{
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
}
.Bootstrap-info h2{
    padding-top: 70px;
    font-size: 1em;
    line-height: 3.5;
    color: gray;
}
.Bootstrap-video{
    height: 450px;
    width: 50%;
    overflow: hidden;
}
.Bootstrap-video video{
    height: 100%;
}
.Stuff-members{
    height: 800px;
    width: 100%;
    text-align: center;
}
.Stuff-members h1{
    padding-top: 100px;
    padding-left: 250px;
    padding-right: 250px;
}
.Stuff-members h2{
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
    font-size: 1em;
    line-height: 2;
    color: gray;
}
.Stuff-members-menu{
    text-align: center;
    width: 100%;
    display: inline-block;
}
.Stuff-members-card{
    width: 320px;
    height: 300px;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: none;
}
.Stuff-members-main{
    padding-top: 20px;
    text-align: center;
    width: 100%;
    display: inline-block;
    position: relative;
}
.Stuff-members-title{
    padding-top: ;
    text-align: center;
    width: 100%;
    display: inline-block;
    position: relative;
}
.Stuff-members-title a{
    color: black;
    font-size: 2em;
}
.Stuff-members-title a:hover {
    color: #2ed3ae;
    transition: 0.5s;
}
.Stuff-members-title p{
    padding-top: 10px;
    font-size: 0.8em;
    color: gray;
}
.Stuff-members-main::before{
    transform: 0.7s;
    content: "";
    position: absolute;
    top: 20px;
    bottom: 60px;
    left: 0;
    right: 0;
    background: transparent;
    transition: 0.3s ease-in-out;
}
.Stuff-members-main:hover::before{
    background: rgba(248,248,248,.6);
}
.Stuff-members-main:hover .SMlist{
    filter: opacity(100%);
    transition: 1s;
}

.SMlist li {
    position: relative;
    opacity: 1;
    transition: transform .3s ease-in-out,opacity .1s;
    transform: matrix(.01,0,0,1,0,0);
}
.Stuff-members-main:hover .SMlist li{
    opacity: 1;
    transform: matrix(1,0,0,1,0,0);
    transition-delay: .1s;
}
@font-face{
font-family: MyWebFont;
src: url(../fonts/BOYCOTT_.ttf);
}